---
import Layout from '../layouts/Layout.astro'
---

<Layout
  title='Blog'
  description='Página de instrumentos musicales, guitarras, cursos, blog y más'
>
  <main class='contenedor'>
    <h1 class='heading'>Blog</h1>
  </main>
</Layout>

<style></style>
