---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content='Astro description' />
    <meta name='viewport' content='width=device-width' />
    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <meta name='generator' content={Astro.generator} />
    <title>GuitarCO - {title}</title>
    <meta name='description' content={description} />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>
<style is:global>
  @import url('https://necolas.github.io/normalize.css/8.0.1/normalize.css');
  @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700;900&display=swap');

  :root {
    --primary: #e99401;
    --black: #262626;
    --white: #fff;
    --fuente-principal: 'Outfit', sans-serif;
  }
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  body {
    font-size: 2rem;
    font-family: var(--fuente-principal);
    line-height: 1.5;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  [class*='contenedor'],
  main {
    width: min(95%, 120rem);
    margin: 3rem auto;
  }
  [class*='heading'] {
    font-size: 4rem;
    text-align: center;
    font-weight: 900;
    color: var(--primary);
    margin: 5rem 0;
  }
  .error,
  .error-enlace {
    font-size: 2.4rem;
    text-align: center;
    margin-top: 5rem;
  }
  .error-enlace {
    font-size: 1.8rem;
    display: block;
    text-decoration: none;
    color: var(--primary);
  }
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4rem;
  }
  @media (min-width: 768px) {
    .grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  @media (min-width: 992px) {
    .grid {
      grid-template-columns: repeat(3, 1fr);
    }
  }
</style>
